.notification-read{
	width:14px;
	height:14px;
	border-radius:7px;
	border:1px #3399ff solid;
	background-color: #3399ff;
}

.notification-unread{
	width:14px;
	height:14px;
	border-radius:7px;
	border: 1px #3399ff solid;
	background-color: white;
}